//fonts
$font: 'Roboto', sans-serif;

//font-sizes
$font-size-heading: 72px;
$font-size-heading-2: 60px;
$font-size-heading-3: 58px;
$font-size-subheading: 52px;
$font-size-subheading-2: 42px;
$font-size-subheading-3: 36px;
$font-size-subheading-4: 30px;
$font-size-quote: 26px;
$font-size-paragraph: 18px;


//colors
$color-primary: #58426E;
$color-secondary: #0A0761;
$color-secondary-light: #DEE0FF;
$color-tertiary:#336144;
$color-white: #F7FFFF;
$color-black: #100C14;
$color-gray:#95B6A7;
$color-error: #B83421;
$color-success: #45B829;

